.card {
  border-radius: 1rem;
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
  border: 0.2rem solid transparent;
  transition: all 150ms ease-out;
  box-sizing: border-box;
}

.card.active {
  border-color: white;
}
.img {
  transition: all 150ms ease-out;
}

.img:hover {
  opacity: 0.8;
}
