.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--color-bg-nav-header);
  width: 240px;
  height: 100%;
  border-right: 1px solid #1b1c1d;
  text-align: center;
  padding: 2rem 0;
}

.logo {
  width: 100%;
}

.title {
  color: var(--color-accent);
}

.menu {
  padding: 1rem;
  margin-top: 5rem;
  width: 100%;
}

.icon {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.category {
  font-size: 1.2rem;
  font-weight: bold;
}
